<label for="sname">Server Name</label>
<!-- <input class="form-control" type="text" id="sname" name="sname" (input)="onUpdateServerName($event)" /> -->
<!-- [(ngModel)] Two Way Data Binding -->
<input class="form-control" type="text" id="sname" name="sname" [(ngModel)]="serverName" />
<p>{{serverName}}</p>
<button class="btn btn-primary" 
        [disabled]="!allowNewServer" 
        (click)="onServerCreation()">Add Server</button>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>